# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

obj/
bin/
ob.layout
ob.cbp
ob.depend
Taller 1 Prog 2/Taller 1 Prog 2.layout
Taller 1 Prog 2/Taller 1 Prog 2.depend
Taller 1 Prog 2/Taller 1 Prog 2.layout
*.layout
